@import url('https://hashsan.github.io/wizblue/dragoncaps.css');
:root{
  --background:url(https://i.pinimg.com/564x/f2/7f/7b/f27f7b1005a60676b58e72e1315e918e.jpg);
}

/* スクロールバーの幅 */
::-webkit-scrollbar {
    width: 12px;
}

/* スクロールバーのトラック */
::-webkit-scrollbar-track {
    background: #111; /* 背景色を黒に設定 */
}

/* スクロールバーのハンドル（つまみ） */
::-webkit-scrollbar-thumb {
    background: #22222a; /* つまみの色を灰色に設定 */
}

/* スクロールバーのコーナー */
::-webkit-scrollbar-corner {
    background: transparent;
}


#fullback {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background:#111; /* fallback the dark */
    background-image: var(--background);
    background-size: cover;
    z-index: -10;
    filter: brightness(0.3); /*0.2 -> 0.3*/
    background-position: center;/*center*/
}

body{
  margin:auto;
  max-width:600px;
  padding:4rem;
  line-height:1.5;
  background:#000;
  color:#eee;
}

body{
  scroll-behavior:smooth;
}

.frame,
#frame{
  padding:1rem 2rem;
  border:1px solid;
  border-radius:4px;
  color:#eee;
}

p{
  margin:1rem 0;
}
h1,h2,h3,h4,h5{
  color:#ccc;
  margin-top:3rem;
  margin-bottom:1rem;
}
h1{
  text-align:center;
  margin-bottom:3rem;
}

/*utility*/
.r,
.right{
  text-align:right;  
}

.l,
.left{
  text-align:left;  
}

.c,
.center{
  text-align:center;  
}

/*h3,h4にもつけるのは野暮ったいので廃止*/

.title-call::after, footer::before {
    font-family: dragoncaps;
    font-weight: normal;
    vertical-align: -0.2em;

    display: block;  
  
    content: '$';
    text-align: center;
    font-size: 2rem;
    margin: 2rem;/*1rem -> 2rem*/
}


h2::before{
  font-family:dragoncaps;
  font-weight:normal;
  vertical-align:-0.2em;
  
  content:'Q';
  padding-right:1rem;
}

/*add img*/
/*
img {
    margin: auto;
    width: 256px;
    height: 256px;
    object-fit: contain;
    display: flex;
    opacity: 0.5;
}
*/
/*画像表示の洗練*/
img {
    margin: auto;
    width: 100%;
    max-height: 512px;
    object-fit: contain;
    display: flex;
    opacity: 0.5;
}

/*a*/
a:visited {
    color: #d4d;
}
a {
    color: #fff;
    text-decoration: underline;
}


/*beauty fade*/

body *,
.fade {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body img{
  opacity: 0;
  animation: fadeInImg 1s forwards;
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
